/* <!-- company logo navigation menu--> */

.headimg {
    margin: 0 190px;
    margin-top: 20px;
}


/* img personal */

.bg-personal {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-about {
    background-color: rgba(191, 106, 74, 0.5);
}

.bg-main-h1 {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    color: #c17152;
    font-size: 3em;
    font-weight: bold;
    vertical-align: inherit;
    text-align: center;
}